<div class="container">
  <div>
    <h1>Chat Coder</h1>
    <div id="caja"></div>
  </div>
  <div>
  <div class="mb-3">
    <form onsubmit="return addmessage()">
      <input type="text" class="form-control" id="username" placeholder="Tu nombre...">
      </div>
      <div class="mb-3">
      <textarea class="form-control" id="texto" rows="3" placeholder="Tu mensaje..."></textarea>
    </div>
    <input type="submit" value="Enviar" class="btn btn-primary mb-3">
    </div>
    </form>

</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js">

</script>


