<div>
  <h1>REGISTER</h1>
  <form action="/auth/register" method="post">
    <label for="">Username: </label>
    <input type="text" name="user">
    <label for="">Password: </label>
    <input type='password' name="password">
    <label for="">Tel: </label>
    <input type='number' name="tel">
    <input type="submit" value="Enviar">
  </form>
</div>